<!-- First I import the macros file.  THen specify that the template should inherit from the base.html. Finally in the content block 
I loop through the entries, rendering each one using the render_entry macro
-->

{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block content %}

{% for entry in entries %}
{{ macros.render_entry(entry) }}
{% endfor %}

<!-- If the has_next variable is true you'll add a link to the next page using Flask's url_for function to generate the URL for the route. 
Similarly if the has_prev variable is true you'll render a link to the previous page.
-->
<ul class="pager">
    {% if has_next %}
    <li class="previous" >
    <a href="{{ url_for('entries', page=page + 1) }}">&larr; Older</a>
    </li>
    {% endif %}
    {% if has_prev %}
    <li class="next">
    <a href="{{ url_for('entries', page=page - 1) }}">&rarr; Newer</a>
    </li>
    {% endif %}
</ul>

{% endblock %}

